html {
  font-size:16px;
  box-sizing: border-box;
}
body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}

button{
  width:150px;
}
/*Stock Products*/
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.product {
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  height: 100%;
}
.product-name {
  font-size: 2rem;
  font-weight:700;
}
.product-description {
  font-size: 1.2rem;
  color: #808080;
}
.product-price {
  font-size: 1.2rem;
  font-weight: bold;
}
.product-image {
  max-width: 34rem;
  max-height: 34rem;
}
.product-life {
  margin-bottom: 1rem;
}
