@import url('https://fonts.googleapis.com/css2?family=Open+Sans:regular,bold,italic&subset=latin,latin-ext');


body{
  font-family: 'Open Sans', sans-serif;
}
html {
  font-size:16px;
  box-sizing: border-box;
}


.link {
  text-decoration: none;
  
}


.navbar-custom{
  background-color:#3ab54a;
  color: #39FF14;
}


/*Stock Products*/
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.product {
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  height: 100%;
}
.product-name {
  font-size: 2rem;
  font-weight:700;
}
.product-description {
  font-size: 1.2rem;
  color: #808080;
}
.product-price {
  font-size: 1.2rem;
  font-weight: bold;
}
.product-image {
  max-width: 34rem;
  max-height: 34rem;
}
.product-life {
  margin-bottom: 1rem;
}


/* .card {
  width: 370px;
  margin-left: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top:40px;
  
} */

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-top:40px; */
  width: 370px;
  /* margin-left: 40px; */

  min-width: 550px;
  position: relative;
  /* max-width: 1240px; */
  /* min-width: 370px; */
  /* margin: 0 auto;
   
  display: grid;
   
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px; */
}

.card-title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-heading{
  color: #0E53A5;
  font-weight: 600;
  font-size: 20px;
}

.card-desc{
  font-size: 16px;
  color:#333;
  font-weight:500;
  margin-bottom: 2px;
}
.card-details{
  font-size: 16px;
  color: #666666;
  font-weight: 400
}

.card_button-green{
  background: #3ab54a;
  color: #fff;
  border: none;
  font-size: 14px;
  line-height: 22px;
  padding: 6px 14px;
  border-radius: 4px;
  font-weight: 600;
  margin:10px;
  height:40px;
  width:150px;
}


.card_button-red{
  background: #ff4f63;
  color: #fff;
  border: none;
  font-size: 14px;
  line-height: 22px;
  padding: 6px 14px;
  border-radius: 4px;
  font-weight: 600;
  margin:10px;
  height:40px;
  width:150px;
}

.button-display{
  display: inline-block;
}

/* .customer-button {
  border-width: 0px;
  border-style: solid;
  color: #0E53A5;
  padding: 20px;
  display: flex;
  justify-content:center;
  align-items: center;
  border-radius: 20px;
  width: 250px;
  height:200px;

} */

.customer-landing{
  display: flex;
  margin-left:120px;
  height:100px;
  width:200px;
  justify-content: center;
  align-items: center;
  background: #655985;
  border-radius:20px;
  padding:20px;
}

.customer-link{
 font-size:30px;
 color: white;
 text-align: center;
 text-decoration:none !important;
}
.other-button{
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  color:#0f52ce;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  background:#89CFF0;
  margin-bottom: 15px; 
}

.other-button:hover{
  background-color:#0f52ce;
  color: white;
}

.col-md-3{

  /* justify-content:space-around; */
  margin: 30px;
  padding-left: 20px;
  display:inline-block;

}
.col-md-4{

  /* justify-content:space-around; */
  margin-left: 20px;
  
  padding-left: 30px;
  

}



.landing-button{
  border-width: 0px;
  border-style: solid;
  border-color: #164a41;
  box-shadow: 0 4px 8px 0 #3ab54a;
  color:#2ec1ac;
  padding: 20px;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: larger;
  font-family: 'Anton';
  letter-spacing: 2px;
  border-radius: 20px;
  width: 300px;
  height:200px;
}

.landing-container{
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin-top: 100px;
  
}
.welcome{
  display:flex;
  justify-content: center;
  align-items: center;
}

.model{
  background-color: #e8f5e9;
  
}

.order-details{
  font-weight: 400;
  font-size: large;
  color:#333;
}

.menu-bars {
  margin-right: 1rem;
  margin-left: 3rem;
  font-size: 2rem;
  height:75px;
  background: none;
  color:whitesmoke
}


